*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

/* common */
section{
    padding: 2rem;
    padding-top: 3.5rem;
}

section:nth-child(even){
    background-color: var(--clr-fix-liliac);
}

.container{
    width: 100%;
    margin: 0 auto;
}

.f{
    display: flex;
}

.f-sb{
    justify-content: space-between;
}

.f-jc{
    justify-content: center;
}

.f-cl{
    flex-direction: column;
}

.f-wr{
    flex-wrap: wrap;
}

.f-ali-c{
    align-items: center;
}

.card{
    border-radius: 1.5rem;
    padding: 2rem;
}

.card.rounder{
    border-radius: 3rem;
    /* card attribute, 
    it makes it rounder */
} 

img{
    width: 100%;
}

a{
    text-decoration: none;
}

.btn-small{
    padding: .3rem 1rem;
    border-radius: 2rem;
    display: inline-block;
}

.btn-wide{
    padding: .4rem 3rem;
    border-radius: 2rem;
    display: inline-block;
}

/* text common attributes */
h5,
h3,
h2,
p,
.card,
.btn-wide,
.btn-small{
    margin-bottom: 1.7rem;
    font-weight: bold;
    line-height: 1.75rem;
}

h2{
    font-size: 2.5rem;
    line-height: 3rem;
}

h3{
    font-size: 1.8rem;
}

/* colors */
:root{
    --clr-fix-blue: #0084FD;
    --clr-fix-lblue: #B5DDFF;
    --clr-fix-liliac: #9792E4;
    --clr-fix-gray: gray;
}

/* Mobile first */
header{
    margin-bottom: 3.75rem;
    background-color: var(--clr-fix-blue);

}

.top-bar{
    /* position: fixed; */
    top: 0;
    width: 100%;
    padding: 1rem 1.3rem;
}

ul{
    display: none;
}

.right-content i{
    color: white;
    font-size: 1.75rem;
}


/* 1st section */
.our-work{
    flex-direction: column;
    gap: 2rem;
}

.our-work .card{
    margin: 0;
    background-color: var(--clr-fix-lblue);
}

.our-work .card h3{
    color: var(--clr-fix-blue);
}

.our-work .card p{
    color: var(--clr-fix-gray);
}

.our-work .card:first-child{
    padding-bottom: 0;
}

.our-work .btn-wide{
    background-color: var(--clr-fix-blue);
    color: white;
    letter-spacing: .1875rem;
}

.our-work img{
    margin-bottom: -0.625rem;
    width: 12.5rem;
}


.our-work .card:not(:first-child) i{
    font-size: 3.75rem;
    margin-bottom: 1.7rem;
    color: var(--clr-fix-blue);
}

.our-work .card:not(:first-child){
    text-align: center;
}

/* section 2 */
.planning img{
    margin-bottom: 2rem;
}

.planning .card:first-child{
    color: white;
    margin-left: -2rem;
    margin-right: -2rem;
}

.planning .card:first-child h3{
    margin-bottom: 3rem;
}

.planning .card:nth-child(2){
    background-color: white;
    text-align: center;
}

.planning .card:nth-child(2) p{
    font-style: italic;
}

.planning a{
    background-color: var(--clr-fix-liliac);
    padding: 1.2rem;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
    display: inline-block;
    border-radius: 50%;
}

/* chiedere per bottone perfettamente circolare */

.planning i{
    height: 1.2rem;
    width: 1.2rem;
}

/* section 3 */

.testimonials{
    text-align: center;
}

.testimonials h2{
    color: var(--clr-fix-liliac);
}

.card.partner{
    background-color: var(--clr-fix-liliac);
    flex-direction: column;
    align-items: center;
}

.part-img{
    display: inline-block;
    margin-bottom: 2rem;
}

.part-img img{
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.testimonials .description{
    color: white;
}

/* section 4 */

.benefits h2{
    color: white;
    text-align: center;
}

.benefits .card{
    background-color: white;
}

.benefits .num-mark{
    font-size: 3.125rem;
    margin-bottom: 2.5rem;
}

.benefits .num-mark,
.benefits h3{
    color: var(--clr-fix-liliac);
}

.benefits .btn-wide{
    background-color: var(--clr-fix-liliac);
    color: white;
    letter-spacing: .1875rem;
    margin-bottom: 0;
}

.benefits p{
    color: var(--clr-fix-gray);
}

/* section 5 */
.about-us{
    flex-direction: column;
    gap: 2rem;
}
.about-us h2{
    color: var(--clr-fix-liliac);
}

.about-us p{
    color: var(--clr-fix-gray);
}

.about-us .img-cont{
    width: 12.5rem;
    height: 12.5rem;
    position: relative;
    display: block;
}

.about-us img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.about-us .small-cont i[class*="fa-quote-left"]{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--clr-fix-liliac);
    font-size: 5rem;
}

.about-me{
    font-size: 2rem;
    font-weight: bold;
    color: var(--clr-fix-liliac);
    margin: 1.25rem 0;
}

.about-us .btn-small{
    background-color: var(--clr-fix-liliac);
    color: white;
    word-spacing: .1rem;
}

/* section 6 */

.get-started{
    text-align: center;
}

.get-started h5{
    color: lightgray;
    font-size: 1.25rem;
    font-weight: 100;
    letter-spacing: .1875rem;
}

.get-started h3, .get-started p, .copyright span, li{
    color: white;
}

.get-started p{
    font-weight: 100;
}

.get-started .itsfree{
    font-size: 3.5rem;
    color: gold;
    font-weight: bolder;
    margin-bottom: 1.7rem;
}

.get-started .btn-huge{
    padding: 1.25rem 4rem;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    font-weight: bold;
    background-color: white;
    color: var(--clr-fix-liliac);
    border-radius: 2rem;
    display: inline-block;
    margin-bottom: 1.7rem;
}

.copyright i{
    font-size: .3125rem;
    line-height: 2rem;
    vertical-align: middle;
}

.copyright span:last-child a{
    text-decoration: underline;
    color: white;
}

.copyright{
    margin-bottom: 1.7rem;
}

/* footer */
footer{
    background-color: black;
    color: white;
    padding: 3rem;
    text-align: center;
}

footer div:first-child{
    margin: 0 0 3rem 0;
}

footer .credits a{
    text-decoration: underline;
}

/***********************
    breakpoints
************************/

/* breakpoint Tablet: 768px*/

@media all and (min-width: 768px){
    /* common */
    :root{
        --font-fix-imptitle: 4rem; 
    }

    /* section 1 */
    .our-work{
        flex-direction: row;
        justify-content: space-between;
    }

    .our-work .card:first-child{
        width: calc(100% * 2 / 3 - 0.75rem);
    }

    .our-work .card:not(:first-child){
        width: calc(100% / 3 - 1.5rem);
    }

    /* section 2 */

    .planning img{
        margin-bottom: 3rem;
    }

    .planning h2{
        font-size: var(--font-fix-imptitle);
        margin: 5rem 0;
    }

    /* section 3 */
    .card.partner{
        text-align: start;
        flex-direction: row;
        justify-content: space-between;
    }

    .partner .part-img{
        margin-right: 2rem;
    }

    /* section 4 */

    /* solution 1 */
    /* .benefits{
        text-align:center;
    }

    .benefits .card{
        margin: 1rem;
        width: calc(100% / 2 - 3rem);
        display: inline-block;
    }

    .benefits h3,
    .benefits .num-mark,
    .benefits p,
    .benefits a{
        text-align: start;
    }  */
    /* to make this work, (it works good 
    with it anyway) remove div.ben-card,
     it's useless */
   
    /* solution 2 */
    .ben-card{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        width: 100%;
        justify-content: space-between;
    }

    .ben-card .card{
        margin-bottom: 0;
        width: calc(100% / 2 - 1rem);
    }

    /* section 5 */

    .about-us{
        flex-direction: row;
        justify-content: space-around;
    }

    .about-us h2{
        font-size:var(--font-fix-imptitle);
    }

    .about-us .large-cont{
        width: 50%;
    }

    .about-us .small-cont{
        width: 30%;
    }

    /* section 6 */
    .get-started{
        width: 70%;
    }

    .get-started .itsfree{
        /* line-height: 120%; */
        font-size: var(--font-fix-imptitle);
    }

    /* footer */
    .foot-txt{
        width: 50%;
        display: inline-block;
    }
}
/* breakpoint Desktop: 992px */

@media all and (min-width: 992px){

}

/* breakpoint Large Desktop:  1200px */

@media all and (min-width: 1200px){

}