*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
section{
    padding: 1rem;
}

.container{
    width: 100%;
}

.f{
    display: flex;
}

.f-sb{
    justify-content: space-between;
}

.f-cl{
    justify-content: column;
}

.f-wr{
    flex-wrap: wrap;
}

.f-ali-c{
    align-items: center;
}

img{
    width: 100%;
}

/* colors */
:root{
    --clr-fix-blue: #0084FD;
    --clr-fix-lblue: #B5DDFF;
    --clr-fix-liliac: #9792E4;
}

/* Mobile first */
header{
    margin-bottom: 3.75rem;
}

.top-bar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 1.3rem;
    background-color: var(--clr-fix-blue);
}

ul{
    display: none;
}

.right-content i{
    color: white;
    font-size: 1.75rem;
}


/* 1st section */



/* breakpoint Tablet: 768px*/

@media all and (min-width: 768px){

}

/* breakpoint Desktop: 992px */

@media all and (min-width: 992px){

}

/* breakpoint Large Desktop:  1200px */

@media all and (min-width: 1200px){

}