*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
section{
    padding: 1rem;
}

.container{
    width: 100%;
}

.f{
    display: flex;
}

.f-sb{
    justify-content: space-between;
}

.f-cl{
    justify-content: column;
}

.f-wr{
    flex-wrap: wrap;
}

/* colors */
:root{
    --clr-fix-blue: #0084FD;
    --clr-fix-lblue: #B5DDFF;
    --clr-fix-liliac: #9792E4;
}

/* Mobile first */



/* breakpoint Tablet: 768px*/

@media all and (min-width: 768px){

}

/* breakpoint Desktop: 992px */

@media all and (min-width: 992px){

}

/* breakpoint Large Desktop:  1200px */

@media all and (min-width: 1200px){

}